body {
    background-color:rgba(50, 6, 117, 0.714);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

center {
    font-size: xxx-large;
    font-family: Groovy;
    color: black;
}

@font-face {
    font-family: Groovy;
    src: url("fonts/hipstravaganza-demo.regular.otf");
}

.header {
    background-color: rgb(70, 24, 114);
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
}

.header a {
    display: inline;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

.header a:hover{
    background-color: #41abf1;
}

.header a.cartHeader{
    float:right
}

.active {
    background-color: #9489ce; 
}

footer {
    margin-top: auto;
    text-align: center;
    width: 100%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.square {
    width: 300px;
    height: 300px;
    padding: 5px;
}

.record{
    display: flex;
    align-items: flex-start;
    padding:  10px;
}

.record .square{
    margin-right: 25px;
    margin-left: 25px;
}

.products ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}   

 .textBox{
    border: 2px solid rgb(70, 24, 114);    
    padding: 10px;             
    border-radius: 10px;        
    background-color: #9489ce; 
    width: auto; 
    color: black;
<<<<<<< HEAD:A1/style.css
    margin-right: auto;
    margin-left: auto;
=======
 }

 button{
    font-family: Groovy;
    background-color: rgb(70, 24, 114);
    color: white;
>>>>>>> 8599c9e870b7d353b2626377dbfd835b1c6861b6:A2/style.css
 }